.detail {
	margin: 0 30px;
	color: #888888;
	font-size: 14px;
}

.detail-table {
	width: 100%;
	table-layout: fixed;
}

/*
	如何定合适的line-height？
	在这篇文章里面 http://practicaltypography.com/line-spacing.html
	它建议line-height应该是1.2 - 1.4左右
	
	但这对中文字体仍然是感觉有些拥挤的

	中文：http://jsfiddle.net/fsuv5/
	英文：http://jsfiddle.net/fsuv5/1/

	但我在调试中发现30px是差不多正好的
	而百度音乐用的height(+line-height)也是30px

	就决定30px了
*/
.detail-table tr {
	height: 30px;
	line-height: 30px;
	border-left: 1px solid transparent;
}

.detail-table th, .detail-table td {
	text-align: left;
	white-space: nowrap;

  	overflow: hidden;
  	text-overflow: ellipsis;	
}

.detail-table tr.odd {
	background: white;
}

.detail-table tr span, .detail-table th span {
	padding: 0 30px;
}

/*
	when will “a” tag not inherit color attribute of parent tag?
	http://stackoverflow.com/questions/1144931/when-will-a-tag-not-inherit-color-attribute-of-parent-tag

	BTW: a {color: inherit; } will work, but only in IE7+;
*/
.detail-table-link-primary {
	color: #444444;
}

.detail-table-link-primary:visited {
	color: #888888;
}

.detail-table-link-secondary {
	color: #888888;
}

.detail-table-col_title {
	width: 60%;
}

.detail-table-col_time {
	width: 20%;
}

.detail-table-col_source {
	width: 20%;
}

.detail-table tr:hover {
	background: #EDEDED;
}

td.detail-table-more-wrap {
	text-align: center;
}

.detail-table-more {
	color: #BDC2CA;
	cursor: pointer;
}