body {
	font-size: 100%;
	font-family: "微软雅黑", "Hiragino SansGB", "Helvetica Neue",Helvetica,Arial,Sans-serif;
	background: #F7F7F7;
	height: 100%;
}
/*
	Make body have 100% of the browser height:
	http://stackoverflow.com/questions/6654958/make-body-have-100-of-the-browser-height
*/
html, body
{
    height: 100%;
    overflow: hidden;
}

body {
  min-height: 100%;
}

p {
	margin: 0;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color:black;
}