#panel {
	width: 100%;
	float: left;
	height: 100%;
}
#panel-container {
	margin-left: 200px;
	overflow: hidden; /*Expend the div, include the float element*/
	height: 100%;
}
#nav {
	width: 200px;
	float: left;
	margin-left: -100%;
	height: 100%;
}