#nav {
	background: #2C3144;
	color: white;
}

.nav-menu-item {
	background: #333A54;
	color: #5A6382;

	height: 50px;
	line-height: 50px;  /* Vertical center */
	text-align: center; /* Horizontal center */

	margin: 5px 0;
	display: block;
}

.nav-menu-item:hover {
	background: #2C446A;
	color: white;
}

.nav-menu-item.selected {
	border-left: 5px solid #FE9661;
	color: white;
	background: #2D4F7C;
}

